<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-label position="floating">Usuario</ion-label>
  <ion-input autocapitalize  [(ngModel)]="m_input_login" id="input_login" inputmode="text" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input autocapitalize [(ngModel)]="m_input_password" id="input_password" type="password" ></ion-input>
</ion-item>
<ion-button 
      color="primary" 
      expand="block" 
      (click)="showAlert()">Login</ion-button>
  <!--<app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
